[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

MemoryCaptures/
Recordings/

.vscode/
.idea/

*.csproj
*.unityproj
*.sln
*.userprefs

.DS_Store

*.pidb
*.booproj
*.svd
*.pdb
*.mdb